*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    font-size: 15px;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s4{
    display: none;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    border: solid black 1px;
    background-color: white;
    width: 100px;
    top: 150%;
    right: 0%;
    padding: 10%;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}
.catagories{
    display: flex;
    border: solid black 1px;
    padding: 10px;
    justify-content: space-around;
}

.catagories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #A435F0 1px;
}

.catagories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #A435F0 1px;

}

.sale-image{
    position: relative;
}

.sale-image img{ 
    text-align: center;
    width: 100%;
}

.sale-image__offer{
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0%{
       transform: scale(0);
       opacity: 0;    
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended{
    padding: 10px;
    margin-top: 5px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img{
    width: 100%;
    height: 50%;

}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.topics__container p{
    padding: 10px;
    border: solid black 2px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.Footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.Footer__one{
    display: flex;
    gap: 10px;
}

.Footer__one p{
    margin: 20px;
}

.Footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }    
}

@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%;
    }    

    .catagories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }

    .navbar__s4{
        display: block;
    }
}

